@import url('https://fonts.googleapis.com/css?family=Prata&display=swap');

*{
  margin:0;
  padding:0;
  border:0;
  }

body{
  font-family: 'Prata', serif;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

header, footer{
  display: flex;
  height: 10vh;
  width: 100vw;
  justify-content: center;
}

main{
  display: flex;
  align-content: center;
  height: 80vh;
  width: 100vw;
}

.column1, .column3{
  width: 10vw;
}

.column2{
  width: 80vw;
  justify-content: center;
}

.heading{
  width: 80vw;
  font-size: 30px;
  align-self: center;
  color: lightgrey;
}

video{
  width: inherit;
  position: absolute;
}

.leaves{
  filter: grayscale(100%) opacity(80%) brightness(100%);
  z-index: 0;
}

.water{
  filter: grayscale(100%) opacity(60%) brightness(100%);
  z-index: 1;
}

.clouds{
  filter: grayscale(100%) opacity(33%) brightness(100%);
  z-index: 2;
}

.controls{
    align-items: center;
    display: flex;
    justify-content: left;
    width: 80vw;
}

.controls div {
  display: flex;
  align-content: center;
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 10%;
  margin: 0 20px 0 0;
  height: 50px;
  width: 50px;
}

.button-on{
  background-color:lightgray;
  color:white;
}

.button-text{
  font-size: 40px;
  color: lightgray;
}

.button-text.button-on{
  color: white;
}
